[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky
[submodule "aesd-final-project-server"]
	path = aesd-final-project-server
	url = git@github.com:armando-jp/aesd-final-project-server.git
